/*-------------------------------
Contents:
1. Fonts
2. Header





------------------------------------*/

@font-face {
    font-family: "Avenir-Book";
    src: url("../fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir-Medium";
    src: url("../fonts/Avenir-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirNextMedium";
    src: url("../fonts/AvenirNextMedium.otf") format("opentype");
}

@font-face {
    font-family: "AvenirNextRegular";
    src: url("../fonts/AvenirNextRegular.otf") format("opentype");
}
#allprevsession .modal-body table td
{
    color: #dedede;
}
.gray-text{
	color:#ccc;
	font-size:18px;
}
.btn-primary{
    background: #bd00ff;
    background-color: #bd00ff !important;
    border-color: #bd00ff !important;
    font-family: Avenir-Book;
    font-size: 16px;
    padding: 10px 15px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #bd00ff;
    border-color: #bd00ff;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #bd00ff;
    border-color: #bd00ff;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #bd00ff;
    font-family: Avenir-Medium;
    letter-spacing: 0.5px;
        font-size: 16px;
    padding: 10px 15px;

}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #bd00ff;
    border-color: #bd00ff;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
}
.main-heading{
    color: #eee;
    font-family: Avenir-Book;
    font-size: 24px;
    margin-bottom: 20px;
}
.text-gray{
	color:#eee;
}				  
body{
    background: #000;
    padding: 0px;
	position: relative;
    height:100vh;
}
input:focus{
    outline: none;
}
#root, 
.App{
	height:100%;
}



img.logo{
	width:120px;
}
.top-header{
	align-items: center;	
}

.user-info h3{
	    color: #fff;
    font-size: 22px;
    font-family: Avenir-Medium;
	    margin-bottom: 2px;
}
.user-info img.user-avtar{
	border: 2px solid #BD00FF;
    border-radius: 10px;
}
.user-info p{
	color: #9B9B9B;
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: "Avenir-Medium";
}
.custom-control-input:checked~.custom-control-label::before
{
    color: #fff;
    border-color: #BD00FF;
    background-color: #BD00FF;
    box-shadow: 0px 0px 1px 2px #BD00FF;
}
.custom-control-label::before
{
    width: 1.3rem;
    height: 1.3rem;
}
.custom-control-label::after
{
    width: 1.3rem;
    height: 1.3rem;
}
.header-info-right p{
	    color: #9B9B9B;
    font-size: 13px;
    margin: 5px 0;
    padding: 0;
    line-height: normal;
    font-family: "Avenir-Medium";
}
.header-info-right h3{
	color: #fff;
    font-size: 22px;
    font-family: Avenir-Medium;
    margin-bottom: 2px;
    text-align: center;
	position: relative;
	    margin: 3px;
    padding: 3px 0;
}
.header-info-right:nth-child(1) h3::before{
    content: "\f0d9";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    left: 0;
    color: #BD00FF;
    top: 5px;
}
.header-info-right:nth-child(1) h3::after{
	content: "\f0da";
	font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 0;
    color: #BD00FF;
    top: 5px;
}
.message-notification{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-count{
	position: absolute;
    background: #bd00ff;
    color: #fff;
    border-radius: 15px;
    width: 30px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    right: -19px;
    top: 3px;
    font-size: 13px;


}
.message-notification img{
	    width: 33px;
}
.message-notification img{
	    width: 33px;
}						  

.gray-border{
    border-color: #474747 !important;
}

.gray-box{
    margin: 0 auto;
    background: #131313;
    border-radius: 10px 10px 0 0;
	overflow: hidden;
}
.gray-box2{
	background:#262626;
	overflow: hidden;
}
.no-border-radius{
	border-radius:0 !important;
}
.gray-box3{
	background:#212121;
}
.info{
    border-left: 5px solid #bd00ff;
    color: #fff;
    font-size: 24px;
    padding: 0px 0px 0px 20px;

}
.session{
    height: 44px;
    height: 35px;
    width: 100%;
    padding-top: 45px;
    padding: 45px 0px 65px 0px;
    
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;

}
#successResult p{
    color: white;
}
.form-content
{

    margin-bottom: 2%;

}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.input-field{
    border-radius: 0px 15px 15px 15px;
    background: #34213b;
    color: #fff;
    border:2px solid #b002ed;
    height: 65px;
    width: 100%;
    margin-bottom: 22px;
    padding-left: 18px;
    font-size: 18px;
    position: relative;
}
textarea.input-field{
    height: 168px;
    padding: 20px 18px;
    margin-bottom: 17px;
}
select.input-field{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color: #605265;
}
.cover-border::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2.5px;
    display: none;
    float: left;
    right: 0px;
    border-radius: 0 25px 0 0;
    top: 0;
    background: #b002ed;
}
.input-field:focus{
    outline: none;
}
.input-field::placeholder{
    color:#605265 !important;
}
.cover-border::after{
    content: '';
    position: absolute;
    width: 19px;
    height: 2.5px;
    display: none;
    float: left;
    left: 0px;
    top: 0;
    background: #b002ed;
}
.when-icon{
    background: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 19px;
}
.clock-icon{
    background: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 19px;
}
.dropdown-icon{
    background: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 21px;
}
.input-field::placeholder{
    color:#ccc;
}
.cover-border::after{
    content: '';
    position: absolute;
    width: 19px;
    height: 2.5px;
    float: left;
    left: 0px;
    top: 0;
    background: #b002ed;
}
.when-icon{
    background: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 19px;
}
.clock-icon{
    background: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 19px;
}
.dropdown-icon{
    background: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 21px;
}					   
.input-txt{
    color: #fff;
    font-size: 22px;

}
.text1{
	color: #ccc;
    font-family: Avenir-Book;
    font-size: 22px;
}
.signedup_2{
    background-image: url("../images/signedup.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 10px;
    top: 15px;

}
.form_email{
    background-image: url("../images/form-email.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 12px;
    top: 15px;
    background-size: 22px;

}
.mobile_phone1{
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 12px;
    top: 15px;
    background-size: 22px;

}
.pass_word{
    background-image: url("../images/passwrd.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 12px;
    top: 15px;
    background-size: 22px;

}
.dollar{
    background-image: url("../images/dollar.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 10px;
    top: 15px;

}
.pick{
    color: #fff !important;
    font-size: 20px;
    font-family: Avenir-Book;
}
.pick:hover{
	color:#fff;
	text-decoration:none;
}
.form-group{
    position: relative;
}
.cover-border{
    /*position: absolute;
    top: -1px;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 2px;*/
    position: absolute;
    top: 0px;
    background-color: #262626;
    z-index: 2;
    left: 8px;
    width: 80%;
    height: 2.3px;
}

.label{ 
        font-family: "Avenir-Book";
    color: #eee;
    position: absolute;
    z-index: 4;
    font-size: 18px;
    left: 30px;
    top: -12px;
					
					 
    }


@media only screen and (max-width: 420px) {
  .user-info img.user-avtar{
    width: 30px !important; 
    height: 30px !important;
  }

.message-count{
    position: absolute;
    background: #bd00ff;
    color: #fff;
    border-radius: 15px;
    width: 30px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    right: -19px;
    top: 14px;
    font-size: 13px;

}
}
.switch {
    vertical-align: sub;
    margin-right: 17px;
    position: relative;
    display: inline-block;
    width: 36px;							 
    height: 20px;						
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;					 
}

.slider:before {
  position: absolute;
  content: "";
      height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
  background-color: #BD00FF;
  -webkit-transition: .4s;
  transition: .4s;				  
}

input:checked + .slider {							
  background-color: #fff;							 
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;								
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);					
}

.slider.round {		 
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.white-text{
	color: #eee;
    font-family: Avenir-Book;
    font-size: 22px;
    padding: 0 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.activity-table.table th{
    border-top: 1px solid #bd00ff;
    font-family: Avenir-Medium;
    font-weight: normal;
    color: #ccc;
    font-size: 18px;
	    border-bottom: none
}
.activity-table.table td{
	font-family: Avenir-Book;
    font-size: 20px;					 
    color: #fff;
	border-top: none;
}
.bg-circle{
	background: #bd00ff;
    padding: 3px;
    width: 28px;
    overflow: hidden;
    height: 28px;
    font-size: 14px;
    /* display: inline; */
    border-radius: 50px;	
    color: #fff;
    text-align: center;
    vertical-align: middle;			 
    float: left;						
}
.activity-table{
	border-bottom: 1px solid #777!important;					
}
.activity-form .label{
	    top: -40px;
		left: 2px;					
}
.activity-form  .input-field{		 
	    margin-bottom: 6px;
}
.border-bottom{
	border-bottom: 1px solid #777!important;				 
}
.activity-link{
	color: #eee;
    font-family: Avenir-Book;
    font-size: 22px;				  
}
.activity-link span{
	color: #bd00ff;
    font-size: 46px;
    line-height: normal;
    vertical-align: sub;
    margin-right: 6px;
}
.activity-link:hover{
	color: #eee;
	text-decoration:none;
}
.save-btn{
	display: table;
    border-radius: 40px;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Avenir-Medium;
    font-weight: 600;
    background: #570078 !important;
    border-color: #570078 !important;
}


/*-------------------------------
Popup
------------------------------------*/
.white{
    color: #fff !important;
    text-shadow: none !important;
    font-size: 23px;
    font-family: "Avenir-Medium";
}
.modalbg{
    background: #343434 !important;
}
.cardbg{
  background: none !important;
  border:none !important; 
  color: #fff; 
}
.labelborder{
    border-bottom: 1px solid #414141;
    padding-bottom: 20px;
     background-image: url('../images/eye.png');
    background-repeat: no-repeat;
    background-position: right;
    font-family: "Avenir-Book";
}
.footerborder{
   border:none !important;  
}
.headerborder{
   border-bottom: 1px solid #414141 !important; 
}
.dialogwidth{
max-width: 600px !important;
}


.form-radio:checked {
    background-color: #BD00FF;
    border: none;
    border-radius: 50px;
}

.form-radio {
    flex: 0 0 23px;
    top: 7px;
    margin-right: 9px;
}
.form-radio:checked::before {
    position: absolute;
    font-family: 'FontAwesome';
    left: 5px;
    top: 2px;
    font-size: 13px;
    color: #fff;
    content: '\f00c';
}

.form-radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
        background-color: transparent;
   border: 2px solid #BD00FF;
    color: #666;
    top: 7px;
        height: 23px;
   width: 23px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}


/*------------slide 45 Equipments list---------*/

.equipmodalbg{
    background: #343434 !important;
    max-width: 850px !important;
    margin:0 auto;
}
.searchbar{
    width: 100%;
    height: 70px;
    /*background: #4e275d;*/
    background-image: linear-gradient(#4e275d, #613771);
    border-radius: 15px;
    border:2px solid #b002ed;
}


.switch {
    vertical-align: sub;
    margin-right: 17px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9e9e9e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
      height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
  background-color: #BD00FF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.white-text{
	color: #eee;
    font-family: Avenir-Book;
    font-size: 22px;
    padding: 0 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.activity-table.table th{
    border-top: 1px solid #bd00ff;
    font-family: Avenir-Medium;
    font-weight: normal;
    color: #ccc;
    font-size: 18px;
	    border-bottom: none
}
.activity-table.table td{
	    font-family: Avenir-Book;
    font-size: 20px;
    color: #fff;
	    border-top: none;
}
/* .bg-circle{
	background: #bd00ff;
    padding: 3px;
    width: 28px;
    overflow: hidden;
    height: 28px;
    font-size: 14px;
    display: inline;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    float: left;
} */
.activity-table{
	border-bottom: 1px solid #777!important;
}
.activity-form .label{
	    top: -40px;
		left: 2px;
}
.activity-form  .input-field{
	    margin-bottom: 6px;
}
.border-bottom{
	border-bottom: 1px solid #777!important;
}
.activity-link{
	color: #eee;
    font-family: Avenir-Book;
    font-size: 22px;
}
.activity-link span{
	color: #bd00ff;
    font-size: 46px;
    line-height: normal;
    vertical-align: sub;
    margin-right: 6px;
}
.activity-link:hover{
	color: #eee;
	text-decoration:none;
}
.save-btn.btn-primary{
	    display: table;
    border-radius: 40px;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Avenir-Medium;
    font-weight: 600;
    background: #570078 !important;
    border-color: #570078 !important;
}


.searchbar .searchbarinput{
    width: 100%;
    height: 70px;
    background: none;
    border:none;
    color: #fff;
    font-size: 18px; 
    border-radius: 15px;
    padding: 0px 60px 0px 15px;
    border-bottom:2px solid #414141;
     font-family: "Avenir-Book";
}
.searchbar .inputbtn{
    width: 55px;
    height: 70px;
    background: #bd00ff;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
     background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.checkboxdiv{
    width: 800px;
    border-top:2px solid #414141;
    float: left;
    margin: 30px 0px 30px 0px;
    padding-bottom: 22px !important;

}
.checkboxdiv_2{
    margin: 0px 0px 0px 0px;
}
.checkboxdiv_3{
    padding: 0px 0px 0px 1px;
}
.plusicon{
    width: 33px;
    height: 34px;
    border-radius: 8px;
    border:1px solid #b002ed;
    color: #fff;
    float: right;
    position: absolute;
    right: 0;
    margin-right: 70px;
    text-align: center;
    font-weight: normal;
    padding-top: 4px;
    cursor: pointer;
}
.donebg{
    margin: 0 auto;
    width: 150px;
    height: 60px;
    }

    .done{
    border-radius: 35px;
    background: #5d067c;
    color: #fff;
    text-align: center;
    font-family: "Avenir-Book";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border:none;
    width: 150px;
    height: 60px;
    margin-top: 80px;
}


.input-field-2 {
    border-radius: 0px 15px 15px 15px;
    background: #34213b;
    color: #fff;
    border: 2px solid #b002ed;
    height: 71px;
    width: 100%;
    margin-bottom: 22px;
    padding: 0px 18px 0px 18px;
    font-size: 18px;
}
.form-radio:checked {
    background-color: #BD00FF;
    border: none;
    border-radius: 50px;
}

.form-radio {
    flex: 0 0 23px;
    top: 7px;
    margin-right: 9px;
}
.form-radio:checked::before {
    position: absolute;
    font-family: 'FontAwesome';
    left: 5px;
    top: 2px;
    font-size: 13px;
    color: #fff;
    content: '\f00c';
}

.form-radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
        background-color: transparent;
   border: 2px solid #BD00FF;
    color: #666;
    top: 5px;
        height: 23px;
   width: 23px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
 .checktxt {
    color: #878787 !important;
    font-size: 20px;
    font-family: "Avenir-Book";
    line-height: 22px;
    min-height: 25px !important;
}
.lebelheight{
    min-height: 40px !important; 
}
.closepopup{
    color: #bd00ff !important;
    font-size: 32px !important;
    font-weight: inherit !important;
    opacity: 1;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														
}

