body
{
	padding: 0;
	margin: 0;
	background-color: black;
	
}
@font-face {
    font-family: "Avenir-Medium";
    src: url("../fonts/Avenir-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir-Book";
    src: url("../fonts/Avenir-Book.ttf") format("truetype");
}
h1, h2, h3, h4
{
	font-family: Avenir-Medium;
}
p, a
{
	font-family: Avenir-Book;
}
.h-90
{
	height: 84px;
}
.modal-dialog
{
	
    max-width: 850px;
}
.modal-content
{
	background: #343434;
	border: none;
}
#myModal3 .custom-control
{
	padding-left: 0;
}
select.input-field
{
	background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
}
/*---------Session Creation page CSS----------------*/

#allprevsession .table td, .activity-table.table th
{
	border-top: none;
}
#allprevsession .table thead th
{
	color: white;
	border-bottom: 1px solid #414141;
	font-weight: 500;
	border-top: none;
}
#allprevsession .table tbody td
{
	color: #cccccc;
}
.custom-file-input:focus~.custom-file-label
{
	box-shadow: none;
    border-color: #bd00ff;
}
/*---------slide-22 CSS----------------*/


/* Header Part CSS */


.hdr h1
{
	font-size: 27px;
	font-weight: bold;
	color: #bd00ff;
	letter-spacing: 2px;
	font-style: italic;
}
.pic
{
	width: 65px;
	height: 65px;
	border:3px solid #c00ff5;
	border-radius: 7px;
	transform: translateY(-6px);
}
.hdr h2
{
	color: white;
	font-size: 24px;
}
.mb-38
{
	margin-bottom: 38px;
}
.hdr h2 i
{
	color: #bd00ff;
}
.hdr p
{
	color: #9b9b9b;
	line-height: 20px;
	font-size: 14px;
}
.hdr .input_field_container .col-xl-4:before
{
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	width: 1px;
	height: 64%;
	background-color: #898989;
}
.hdr .input-box:after
{
	content: "";
    position: absolute;
    width: 1px;
    height: 74%;
    background-color: gray;
    top: 8px;
    right: -16px;
}
.icons
{
	display: inline-block;
	position: relative;
}
.icons i
{
	font-size: 40px;
	color: #bd00ff;
}
.badge
{
	background-color: #bd00ff;
	padding: .25em .9em;
	color: white;
	font-size: 79%;
	border-radius: 1.25rem;
	position: absolute;
	right: -20px;
	top: 5px;
}
.input-box
{
	position: relative;
}
.input-box input.form-control
{
	border: 2px solid #bd00ff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #492158;
	height: 60px;
	color: white;
}

.input-box .input-group-text
{
	color: white;
	background-color: #bd00ff;
	padding: .375rem 1rem;
	border: 1px solid #bd00ff;
}
.input-box .input-group-text i
{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 22px;
}
.input-box ::placeholder, .input-box :-ms-input-placeholder, .input-box ::-webkit-input-placeholder
{
	font-size: 1.2vw !important;
	color: white !important;
	font-style: italic !important;
}
.angle-img
{
	flex-basis: 44px;
}
.textt
{
	position: absolute;
	right: 75px;
	top: 20px;
	padding-left: 15px;
	z-index: 99;
}
/* Tab Section CSS */

.tab-sec .cont, .inner_containr
{
	background-color: #2a2a2a;
	border-radius: 10px;
}
.tab-sec .nav-tabs
{
	border-bottom: none;
	margin: 0px 15px;
}
.tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
	background-color: transparent;
	color: white;
	padding: 1.7rem 0.2rem;
	border: none;
	font-size: 20px;
	position: relative;
	margin: 0px 15px;
	font-family: Avenir-Medium;
}
.tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
	color: #8f8f8f;
}
.tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after
{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #bd00ff;
}
.datepick
{
	position: relative;
}
.datepick input
{
	background-color: transparent;
	border: none;
	font-size: 28px;
	color: white;
	width: 200px;
	font-family: Avenir-Book;
}
.datepick11 input
{
	background-color: transparent;
	border: none;
	font-size: 30px;
	color: white;
	font-family: Avenir-Book;
}
.datepick11 input:focus
{
	background-color: transparent;
	border: none;
	color: white;
}
.datepick input:focus
{
	background-color: transparent;
	border: none;
	color: white;
}

input.form-control:focus
{
	outline: none;
	box-shadow: none;
}
.c_icon11
{
	position: absolute;
	top: 27px;
	right: 10px;
	padding-left: 25px;
}
.c_icon11:before
{
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: gray;
	top: 2px;
    left: -24px;
}
.c_icon:before
{
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: gray;
	top: 0px;
    left: -24px;
}
.srch_icon:before
{
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: gray;
	top: 0;
	left: -9px;
}
.datepick i
{
	color: #bd00ff;
	font-size: 30px;

}

/* Tab inner part CSS */

.cont1 .nav-link, .cont1 .nav-link.active
{
	display: inline-block;
	font-size: 28px;
	line-height: 23px;
	padding: 1.2rem 0.2rem;
	margin-top: 5px;
}
.cont1 a.nav-link span, a.cont1 .nav-link.active span
{
	font-size: 16px;
}
.content-container .image img
{
	border-radius: 15px;
}
a.act
{
	position: relative;
	color: white !important;
}
a.act:before
{
	content: "";
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #bd00ff;
	position: absolute;
}
.cont1 .nav-tabs
{
	margin-top: 20px;
	border-bottom: 1px solid #474747;
}

/* Image & Content Section CSS */

.display-3 {
    font-size: 23px;
    color: #939393;
    font-weight: 300;
    line-height: 1.2;
}

.content-container h2
{
	font-size: 41px;
    color: #ffffff;
    font-weight: 300;
    line-height: 60px;
}
.content-container p
{
	
    color: #e0e0e0;
   
}
.second-col i, .third-col i
{
	font-size: 30px;
	border: 1px solid #bd00ff;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
}
.first-col h3 span, .first-col h3
{
	font-size: 45px;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
	position: relative;
	display: inline-block;
}
.first-col h3 span:after
{
	
	color: #979797;
	font-size: 18px;
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 400;

}
.first-col h3 span.num1:after
{
	content: "hh";
}
.first-col h3 span.num2:after
{
	content: "mm";
}
.first-col h3 span.num3:after
{
	content: "ss";
}
.cont1 .tab-content .fa-angle-right
{
	color: #bd00ff;
	font-size: 30px;
}

/*Calendar css*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
	border: none;
	background-color: transparent;
	color: white;

}
.ui-widget-content
{
	background-color: #424141;
}
.ui-widget-content
{
	color: white;
}
.ui-widget.ui-widget-content
{
	border: none;
}
.ui-widget-header
{
	background: #bd00ff;
    color: #ffffff;
    border: none;
}

/*----------------Home Page CSS----------------------*/


.logo-text
{
	font-size: 28px;
	font-weight: bold;
	color: #bd00ff;
	letter-spacing: 2px;
	font-style: italic;
}
.slider-header p
{
	color: white;
	margin-right: 15px;
	margin-bottom: 0;
}
/*-------------CSS taken from rohit custom.css file--------------------*/

.btn-outline-secondary{
    color: #fff;
    border-color: #bd00ff;
    font-family: Avenir-Medium;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 10px 15px;

}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #bd00ff;
    border-color: #bd00ff;
}

.btn-primary {
    background: #bd00ff;
    background-color: #bd00ff !important;
    border-color: #bd00ff !important;
    font-family: Avenir-Book;
    font-size: 16px;
    padding: 10px 15px;
}
#dasboard_myModal2{
	background-color: #0000008c !important;
}
#link_generator{
	background-color: #3434347d !important;
}

#dasboard_myModal2 .modal-content
{
	background: transparent !important;
}
#dasboard_myModal2 .modal-content .form-group .cover-border
{
	background-color: #2a2a2a !important;
}
#dasboard_myModal2 .done {
    border-radius: 35px;
    background: #5d067c;
    color: #fff;
    text-align: center;
    font-family: "Avenir-Book";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 60px;
    margin-top: 23px;
}
.dashboard_land {
    background-image: url(../images/msg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 32px;
    float: right;
    position: absolute;
    right: 14px;
    top: 15px;
}
.srv-validation-message{
	color:#c7bcbc !important;
}
#dasboard_myModal2 .modal-body
{
	background: #2a2a2a;
}
/*Carousel CSS */
.slider_sec
{
	border: 2px solid #4a4a4a;
}
.slider_sec .carousel-inner img
{
	width: 100%;
}
.slider_sec .carousel-indicators
{
	bottom: -63px;
}
.slider_sec .carousel-indicators li
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 6px;
    margin-left: 6px;
    background-color: #808080;
}
.slider_sec .carousel-indicators li.active
{
	background-color: #bd00ff;
}
.slider_sec .carousel-caption
{
	right: 2%;
	left: 2%;
	text-align: initial;
	bottom: 0;
}
.upper_inner_text
{
	flex-basis: 63%;
}
.lower_inner_text
{
	flex-basis: 37%;
}
.learn_more
{
	border: 1px solid #b002ed;
	padding: 10px 15px;
	border-radius: 10px;
	margin-left: 20px;
}

.learn_more .bordr
{
	border: 1px solid #b002ed;
	padding: 5px;
	padding-top: 0px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
}
.learn_more .bordr i
{
	font-size: 21px;
	color: #b002ed;
}
/* slides sec CSS Code */
.slides_sec
{
	background-color: #2c2c2c;
	margin-top: 4rem;
}
.slides_sec h2
{
	color: white;
	margin-right: 30px;
	font-weight: 900;
	font-size: 35px;
}
.small_img_part h3
{
	color: white;
}
.small_img_part h3 sup
{
	vertical-align: super;
	font-size: 15px;
}

.slides_inner_part p
{
	color: white;
}
.slides_inner_part .item img
{
	width: 100%;
	border-radius: 10px;
}
.slides_inner_part .slick-slide
{
	margin: 10px;
}
.footer_sec
{
	background-color: #3f3f3f;
}
.footer_sec ul.list
{
	list-style: none;
	padding-left: 5px;
}
.footer_sec ul.list li:before
{
	content: '\f111';
	color: #bd00ff;
	font-family: FontAwesome;
	font-size: 6px;
	margin-right: 10px;
	transform: translateY(-3px);
	display: inline-block;
}
.footer_sec ul.list li a
{
	color: #f8f8f8;
	text-decoration: none;
	font-family: "Avenir-Book";
}
.footer_sec p
{
	color: #898989;
	font-size: 12px;
}
.footer_sec .social_icons i
{
	margin: 4px;
    width: 35px;
    border-radius: 50%;
    padding: 7px;
    font-size: 18px;
    transition: 0.5s ease all;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
}
.footer_sec p.foot_txt
{
	color: #f8f8f8;
	font-size: 14px;
}
.foot_txt a
{
	color: #bd00ff;
	font-weight: bold;
	text-decoration: none;
}
.footer_sec input.form-control
{
	background-color: #562f65;
	border: 1px solid #bd00ff;
	height: calc(1.5em + .75rem + 13px);
	color: white;
	border-radius: .25rem;
}
.footer_sec .input-group-append
{
	transform: translateX(-5px);
	position: relative;
    z-index: 999;
}
.footer_sec .input-group-text
{
	background-color: #a808e1;
	border: 1px solid #b002ed;
	color: white;
	font-size: 19px;
	border-radius: 8px !important;
}
.footer_sec .input-group-text a
{
	color: white;
}
.footer_sec .input-group-text i
{
	width: 22px;
    font-size: 19px;
    font-weight: bold;
    height: 22px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer_sec ::placeholder
{
	color: #f8f8f8 !important;
}
.footer_sec :-ms-input-placeholder, .footer_sec ::-webkit-input-placeholder
{
	color: #f8f8f8 !important;
}

.input_field_container 
{
	border: 2px solid #bd00ff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #492158;
	color: white;
	padding: 15px 0;
	padding-right: 50px;
	position: relative;
}

.cont .parent_field_cont
{
	margin: 25px 30px 0px 30px;
	
}
.cont .input_field_container .col-xl-5 ::placeholder
{
	font-style: italic !important;
}
.cont .input_field_container .col-xl-5 ::-webkit-input-placeholder
{
	font-style: italic !important;
}
.cont .input_field_container .col-xl-5 :-ms-input-placeholder 
{
	font-style: italic !important;
}

.right-small-box
{
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
	top: 0;
	right: 0;
	 background-color: #bd00ff;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.right-small-box img
{
	/* transform: scaleX(-1); */
    width: 24px;
}

.input_field_container .input-group-text
{
	color: white;
	background-color: #bd00ff;
	padding: .375rem 1rem;
	border: 1px solid #bd00ff;
}
.input_field_container .col-xl-8 input.form-control, .input_field_container .col-xl-5 input.form-control
{
	background-color: transparent;
	border: none;
	color: white;
}
.input_field_container input.dt_input
{
	background-color: transparent;
	border: 2px solid #bd00ff;
	color: white;
	border-radius: .25rem;
}
.input_field_container ::placeholder
{
	color: white;
}
.input_field_container .custom-checkbox .custom-control-label::before
{
	border: 1px solid #bd00ff;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 8px;
    background-color: transparent;
    box-shadow: none;
}
.input_field_container .custom-checkbox.text_input .custom-control-label::before
{
	border: 1px solid #bd00ff;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 8px;
    background-color: white;
    box-shadow: none;
}
.input_field_container .custom-checkbox.text_input .custom-control-input:checked~.custom-control-label::after

{
	background-image: url(../images/right.jpg);
    
}
/* .input_field_container .custom-control-label::after
{
	top: 0.35rem;
    left: -1.4rem;
} */
.input_field_container .col-xl-7:before
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #898989;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before
{
	color: #fff;
    background-color: transparent;
    border-color: #bd00ff;
}

/*---------Custom select input CSS----------------*/

.custom-select1 {
  position: relative;
  font-family: Arial;
  padding:0;
  border: none;
  border-radius: .25rem;
  transition: unset;
}

.custom-select1 select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #7c11a2;
   border-radius: .25rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 17px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #7c11a2;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
 
/*---------slide-1 CSS----------------*/

.parti_box .b-image
    	{
    		padding: 35px;
    		box-sizing: border-box;
    	}
      .parti_box p.white
      {
      	font-family: Avenir-Book;
      }
      .parti_box
      {
      	display: flex;
      	flex-direction: column;
      	width: 210px;
      	margin: 25px;
	  }
	  
      .width-200
      {
      	width: 200px;
      }
       .b-image .custom-control
      {
      	position: absolute;
      	top: 2px;
      	right: 0px;
	  }
	  .font-14
      {
      	font-size: 14px !important;
	  }
      .font-16
      {
      	font-size: 16px !important;
	  }
	  .font-22
	  {
		  font-size: 22px !important;
	  }
	  

/*---------slide-36 CSS----------------*/
.hdng
{
    font-family: Avenir-Medium;
    font-weight: normal;
    color: #ccc;
    font-size: 18px;
    padding: 0 20px;
}
.hdng1
{
	font-family: Avenir-Book;
    font-size: 20px;
    color: #fff !important;
    
}
.color-icons img
{
	width: 20px;
}
.color-icons span
{
	color: #bd00ff;
	
}
/* .parent-row
{
	display: none;
} */
.myheading
{
	position: relative;
}
.myheading:after
{
	position: absolute;
	content: "";
	left: 50%;
	bottom: -36px;
	transform: translateX(-50%);
	background-color: #bd00ff;
	width: 97%;
	height: 1px;
}
a.purple_link
{
	color: #bd00ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}
.font-18
{
	font-size: 18px !important;
}
.overflow-hidden
{
	overflow: hidden;
}
.purple_text
{
	color: #bd00ff !important;
}
div.overflow-hidden .d-flex p:nth-child(1) a
{
	position: relative;
	font-size: 25px;
	color: #bd00ff;


}
div.overflow-hidden .d-flex p:nth-child(2)
{
	transform: translateY(-14px);
}
div.overflow-hidden .d-flex p a
{
	font-size: 40px;
	text-decoration: none;

}
div.overflow-hidden p:nth-child(1) a:after
{
	position: absolute;
	width: 1px;
	height: 20px;
	background-color: #474747;
	content: "";
	top: 8px;
    right: -20px;
}
.text_lft_icon
{
	width: 24px;
}

/*---------slide-35 CSS----------------*/

.emojis-icon
{
	background: url(../images/picking1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 28px;
    height: 28px;
    float: right;
    position: absolute;
    right: 16px;
    top: 19px;
}
.browse
{
	font-size: 18px;
	float: right;
    position: absolute;
    right: 16px;
    top: 19px;
    color: #bd00ff;

}

/*---------session wine creation page CSS----------------*/

.emojis-dialogwidth
{
	max-width: 800px !important;
}
.card.cardbg span img
{
	width: 30px;
}
#pick_emojis_modal .modal-header, #pick_channel .modal-header
{
	position: relative;
	border-bottom: none;
}
#pick_emojis_modal .modal-header:after
{
	content: "";
	position: absolute; 
	bottom: 0;
	width: 95%;
	height: 1px;
	background-color: #414141;
	transform: translateX(-50%);
	left: 50%;

}

#pick_emojis_modal .col-md-4:after
{
	content: "";
	position: absolute; 
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #414141;
}
#pick_emojis_modal .col-md-4:nth-child(3):after
{
	display: none;
}
#pick_emojis_modal .modal-content
{
	background-color: transparent;
}
#pick_emojis_modal button.btn-primary
{
	border-radius: 40px;
	background-color: rgba(189,0,255,0.7) !important;
	border: none;
	cursor: pointer;
}
#pick_emojis_modal button.btn-primary:focus
{
	outline: none;
}
#pick_emojis_modal button.close
{
	color: rgba(189,0,255,1);
	text-shadow: none;
	font-size: 25px;
	opacity: .8;
}
.searchbar .inputbtn
{
	background-size: 20px;
}
#pick_host_modal label img, .host-container label img
{
	width: 65px;
	align-self: baseline;
	border-radius: 8px;
}
#pick_host_modal .checktxt
{
	font-size: 16px;
}
#pick_host_modal label.custom-control
{
	display: flex;
}
#pick_host_modal input[type="checkbox"], .host-container input[type="checkbox"]
{
	transform: translateY(19px);
} 
#pick_host_modal .modal-header, #add_product_modal .modal-header, #product_lst_modal .modal-header
{
	border-bottom: none;
}
.checktxt_name
{
	color: white !important;
	border-bottom: 1px solid #bd00ff;
	font-size: 20px;
	font-family: "Avenir-Book";
	display: inline-block;
}

#add_product_modal h4.modal-header
{
	position: relative;
}
#add_product_modal h4.modal-title span, #product_lst_modal h4.modal-title span
{
	position: absolute;
	top: 50px;
	left: 25px;
	font-size: 13px;
	color: #878787;
}
#add_product_modal .equipmodalbg
{
	max-width: 1120px !important;
}
#add_product_modal .btn-outline-secondary, #add_product_modal .btn-primary
{
	padding: 12px 15px;
	font-size: 14px;
}
.input-field-2
{
	border-radius: 0px 15px 15px 15px;
}
.bg_gray_clr
{
	background-color: #131313;
}
.border_none
{
	border: none;
}
/*---------Header page calendar CSS----------------*/

.rlc-calendar
{
	color: #959595 !important;
	border: none !important;
	border-top: 1px solid #414141 !important;
	border-bottom: 1px solid #414141 !important;
	box-shadow: none !important;
	width: 490px !important;
	margin: auto !important;
}
.rlc-date-details, .rlc-date-details-wrapper
{
	display: none;
}
.rlc-day-disabled, .rlc-day-disabled:hover
{
	background-color: #343434 !important;
	color: white !important;
}
.rlc-day-selected
{

	font-weight: bold !important;
}
.cal_modal .modal-header
{
	border-bottom: none;
}
.cal_modal .modal-dialog
{
	max-width: 450px;
}
.cal_modal .modal-body h3
{
	display: none;
}
.bg-trnsparent
{
	background-color: transparent;
}
.btn_btn1
{
	bottom: -90px;
	transform: translateX(-50%);
	left: 50%;
}
.rlc-day
{
	font-size: 18px !important;
	width: 70px !important;
	height: 60px !important;
}
.rlc-navigation-button
{
    color: #bd00ff;
    font-weight: bold;
    font-size: 20px;
}
.rlc-month-and-year
{
	color: white;
	font-size: 20px !important;
	font-family: Avenir-Book;
}
.rlc-month-and-year-wrapper
{
	border: none !important;
	margin-top: 20px;
}
.rlc-day, .rlc-day-label
{
	width: 70px !important;
	height: 60px !important;
	font-size: 15px !important;
	margin-bottom: 5px !important;
}
.rlc-next-year, .rlc-prev-year
{
	display: none;
}
.rlc-days-label
{
	color: white;
	font-size: 12px !important;
	
}
.rlc-day-end-selection:hover, .rlc-day-inside-selection:hover, .rlc-day-selected:hover, .rlc-day-start-selection:hover
{
	background-color: #bd00ff !important;
}
.rlc-day-end-selection, .rlc-day-inside-selection, .rlc-day-selected, .rlc-day-start-selection
{
	background-color: #bd00ff !important;
}
.modal-dialog.large_width1
{
	max-width: 1100px !important;
}
.modal-dialog.small_width1
{
	max-width: 545px;
}
.cal_modal input.input-field
{
	height: 55px;
}
#calenderModel1 .modal-dialog .modal-content:nth-child(1)
{
	width: 50%;
}
#calenderModel1 .modal-dialog .modal-content:nth-child(3)
{
	width: 50%;
}
.cal_modal .label
{
	font-size: 14px;
	top: -8px;
	
}
.cal_modal .clock-icon
{
	top: 14px;
	background-size: 19px;
}
.cal_modal .input-txt
{
	font-size: 14px;
}

.wd
{
	flex-basis: 2%;
	margin-bottom: 50px;
}
.cal_modal .modal-content:nth-child(2) span.dropdown-icon
{
	right: 10px;
    top: 10px;
}
.cal_modal .btn-outline-secondary:hover
{
	background-color: transparent !important;
}
.cal_modal .modal-content:nth-child(2) .btn-primary, .cal_modal .modal-content:nth-child(2) .btn-outline-secondary
{
	font-size: 13px;
	padding: 13px;
}

.cal_modal h5.white
{
	font-family: Avenir-Book;
	font-size: 18px; 
}
/*-------react time picker css----------*/

  /*.react-time-picker__wrapper {
    display: flex;
    border: 2px solid #b002ed !important;
    width: 175px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 19px;
    border-radius: 0px 10px 10px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #bd00ff52;
}
.react-time-picker__inputGroup__input{
	color: azure;
	padding: 0 8px !important;
}
.react-time-picker__inputGroup__input,option{
	background-color: #bd00ff;
}
.react-time-picker__button:enabled .react-time-picker__button__icon, .react-time-picker__button:enabled:focus .react-time-picker__button__icon{
	stroke: #bd00ff !important;
	outline: none;
}
.react-time-picker__inputGroup__amPm{
	outline: none;
}
.react-time-picker__button:enabled{
	display: none;
}*/
.custom_field
{
	border-radius: 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #b002ed;
    margin-bottom: 22px;
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    -webkit-appearance: none;
    text-transform: uppercase;
    width: 135px;
}
/*.small_cont
{
	left: -28px;
    bottom: 50px;
    height: 50px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
}*/
.small_cont
{
	left: -28px;
    bottom: 50px;
    height: 50px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
}
.modal-content .form-group .cover-border
{
	background-color: #343434;
}
.cal_modal .timepicker_wrap
{
	width: 260px;
	top: 60px;
	padding: 10px 0px;
	background-color: #252525;
	border: none;
}
.cal_modal input.timepicki-input
{
	background-color: #bd00ff;
	border: 1px solid #bd00ff;
}
.cal_modal .prev:hover, .next:hover
{
	background-color: #bd00ff;
}
.cal_modal .prev, .next
{
	border: none;
}
input.timepicki-input
{
	color: white;
	font-size: 16px;
}
.cal_modal input.clockk
{
	background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 15px center;
}
.cal_modal .rlc-prevs
{
	justify-content: flex-start;
    padding-left: 25px;
}
.cal_modal .rlc-nexts
{
	justify-content: flex-end;
    padding-right: 25px;
}
/*---------host channel creation page CSS----------------*/

/*---------slide-24 CSS----------------*/

.gray-box-4
{
	background-color: #262626;
	border-radius: 10px;
	overflow: hidden;
}
.purple_text .fa-close
{
	font-weight: lighter;
	font-size: 40px;
}
.hdng_text h3
{
	color: white;

}
.hdng_text button.close
{
	text-shadow: none;
	font-size: 45px;
	color: #bd00ff;
	outline: none;
	opacity: 1;
	font-weight: inherit;
}
.session_text .input-txt
{
	position: relative;
}

.input-txt span.c-span
{
	position: absolute;
    top: 100%;
    left: 80px;
    font-size: 13px;
    color: #878787;
}
.register-frm .label
{
	color: #878787;
}
.add_text a
{
	color: white;
}

.register-frm .switch
{
	width: 32px;
}
.register-frm .switch input:checked + .slider:before
{
	transform: translateX(10px);
}
.host-container .checktxt
{
	font-size: 16px;
}
.host-container .checktxt_name
{
	margin-bottom: 5px;
}
.host-container .donebg
{
	height: auto;
}
.border_line
{
	height: 1px;
	background-color: #414141;
	margin: 25px 0px 60px 0px;
	position: relative;
}
.text_icn
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #262626;
	padding: 0px 20px;
}

.custom-file-label::after
{
	display: none;
}
.custom-file-label
{
	top: -48px;
}
.custom-file-label.input-field
{
	height: 180px;
}
.browse_image
{
	position: absolute;
	z-index: 99;
	width: 90%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.browse_text
{
	position: absolute;
    z-index: 999;
    right: 32%;
    top: 58px;
}
.browse_text span.white
{
	font-family: Avenir-Book;
	font-size: 20px;
}

/*-------------slide-23 CSS----------------*/
.b-image
{
	padding: 25PX;
	background-color: #343434;
	border-radius: 8px;
}
.b-image img
{
	width: 71px;
}
.bg-black
{
	background-color: black;
}
.f_box
{
	margin: 25px;
}
.f_box p.white
{
	font-family: Avenir-Book; 
}
#pick_channel .modal-dialog
{
	max-width: 650px;
}
#pick_channel .modal-header .close
{
	padding: 2rem;
}
.modal-content .form-group .cover-border
{
	background-color: #343434;
}

/*-------------slide-25 CSS----------------*/

.modal-dialog.small_width
{
	max-width: 425px;
}
.list-modal .modal-body .form-group
{
	width: 370px;
}

/*-------------slide-26 CSS----------------*/

.modal-dialog.large_width
{
	max-width: 1200px;
}
.modal .form-group a.position-absolute
{
	top: 22px;
	right: 20px;
}
.modl_bg_color
{
	background-color: #3f3f3f;
}
.modal-content.modl_bg_color .form-group .cover-border
{
	background-color: #3f3f3f;
}

/*-------------slide-28 CSS----------------*/

.border_bottom_dotted
{
	border: 1px dashed #525252;
}	

/*-------------slide-29 CSS----------------*/

.video_img .custom-file-label
{
	background-color: #34213b;
}

.gray-box-5
{
	background-color: #363636 !important;
	border-radius: 10px;
	overflow: hidden;
}

/*------- slide 29 CSS ---------*/
#audio_video_mdl .video_img .one
      {
        height: 180px;

      }
     #audio_video_mdl .video_img .custom-file-label
      {
       height: 176px;
    border: none;
    width: 100%;
      }
     #audio_video_mdl .custom-file-label
      {
        top: 0;
      }
      #audio_video_mdl .input-field
      {
        height: auto;
      }
     #audio_video_mdl .browse_image1 {
    width: 100%;
    margin-top: 10px;
    height: 150px;

}
      
#audio_video_mdl .gray-box-5 .cover-border
{
  background-color: #363636;
  height: 2px;
}
#audio_video_mdl .video_img .bg-circle
{
  right: -10px;
    top: 53%;
    transform: translateY(-53%);
    z-index: 999;
    color: white;
}
/*-------------slide-19 CSS----------------*/

/*-------------slide-19 CSS----------------*/
.inner_containr p
{
	color: #a9a9a9;
}
	.inner_containr p img
	{
		width: 20px;
	}
	.inner_containr div img
	{
		width: 29px;
	}
	.session_btn
	{
		border:1px solid #bd00ff;
		background-color: transparent;
		border-radius: 8px;
		color: white;
		padding: 10px 30px;
		font-family: Avenir-Book;
	}
	.plus_icnn
	{
		width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #b002ed;
    color: #fff;
    position: relative;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 35px;
	}
	.inner_containr p.checktxt
	{
		font-size: 13px;
	}
	.mx--6
	{
		margin-left: -6px;
		margin-right: -6px;
	}
	.w-70
	{
		width: 75px !important;
		border-radius: 8px;
	}
	.translat
	{
		transform: translateY(-4px);
	}

	/*-------------slide-2 & 3 CSS----------------*/

	.inp_cover-border
      {
        position: absolute;
        top: 12px;
        background-color: #262626;
        z-index: -1;
        left: -15px;
        width: 125%;
        height: 2px;
      }
      .input_bx-cont .form-group .input-field
      {
        height: 63px;
      }
      .left_innr_cont
      {
        padding: 35px 30px 1px 30px;
        background-color: #262626;
        border-radius: 10px;
      }
      .left_innr_cont p img
      {
        transform: translateY(-4px);
      }
      .left_innr_cont p.checktxt
      {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .mb-30
      {
        margin-bottom: 30px;
      }
      .font-16
      {
        font-size: 16px !important;
      }
      .w-80
      {
        width: 80%;
      }
      .sms_email_box
      {
        flex-basis: 45%;
      }
      .sms_email_box .b-image
      {
        background-color: #454545;
        padding: 50px;
      }
      .sms_email_box .b-image img
      {
        width: 85px;
        height: 85px;
      }
      .sml_input_box
      {
        display: inline-block;
        
      }
      .sml_input_box input
      {
        width: 50px;
        height: 60px;
        background: transparent;
        border:1px solid #bd00ff;
        border-radius: 5px;
        color: white;
        padding: 5px;
        margin-right: 12px;
        font-size: 26px;
        text-align: center;
      }
      .o-hidden
      {
        overflow: hidden;
      }
      .color_gray
      {
        color: #878787 !important;
      }
      .custom_btn
      {
        border-radius: 35px;
        background: #5d067c;
        color: #fff;
        text-align: center;
        font-family: "Avenir-Book";
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border: none;
        padding: 12px 35px;
        bottom: -90px;
        transform: translateX(-50%);
        left: 50%;
      }
      .custom_btn1
      {
      	border-radius: 25px;
        background: #731c92;
        color: #fff;
        text-align: center;
        font-family: "Avenir-Book";
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border: none;
        padding: 10px 35px;      
      }
      .modl_bg_drk
      {
      	background-color: #383737 !important;
      	box-shadow: 1px 13px 34px black;
      }
      #registration_popup .modal-dialog.small_width
      {
      	max-width: 30%;
      }
      .font-12
      {
      	font-size: 12px;
      }
      .small
      {
      	line-height: 17px;
      }
      .small a
      {
      	color: #eee !important;
      	text-decoration: none;
	  }
	  
/*-------------slide-11 to slide-18 CSS----------------*/

.gray_bx1
{
  background-color: #2a2a2a;
  border-radius: 10px;
}
.text_dark_gray
{
  color: #777777;
}
.line_custom
{
  height: 1px;
  background-color: #541d68;
}

.flx p
{
  padding: 0px 10px;
  margin-bottom: 0;
  color: #c2c2c2;
  position: relative;
}
.flx p:before
{
  content: "";
  position: absolute;
  top: 6px;
  height: 55%;
  background-color: #541d68;
  left: 0;
  width: 2px; 
}
.flx .btn_link p:before
{
  display: none;
}

.flx .flex-fill.btn_link
{
  border-radius: 10px;
  background-color: #541d68;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.cursor-pointer
{
  cursor: pointer;
}
.innr_boxx h3.activity-link
{
  font-size: 35px;
}
.innr_boxx h3.activity-link:before
{
  content: "";
  position: absolute;
  top: 6px;
  height: 70%;
  background-color: #bd00ff;
  left: 0;
  width: 3px; 
}
#manage_group_modal, #interest_to_fitness
{
  background-color: black;
}
#manage_group_modal .modal-content, #interest_to_fitness .modal-content
{
  background-color: transparent;
}
button.closee
{
  position: absolute;
  top: 8px;
  right: 5px;
}
h2.display-2
{
  color: #646464;
  font-family: unset;
}
.custom_btn11
  {
	border-radius: 24px;
	background: rgba(189,0,255,0.5);
	color: #fff;
	text-align: center;
	font-family: "Avenir-Medium";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 12px 50px;      
  }
  .round
  {
	border-radius: 10px !important;
  }
  .big_container
  {
	display: none;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: rgba(46, 46, 46, 0.7);
  }
  .big_container .inp_cover-border
  {
	background-color: #383737;
  }
  .big_container .small_width
  {
	max-width: 35%;
  }
  .big_container .input-field
  {
	height: 55px;
  }
  .big_container .custom_btn
  {
	transform: translateX(0);
  }
  .modl_bg_drk1 
  {
	box-shadow: 1px 13px 34px #222222;
  }
	.bg-gray-shade
  {
	background-color: #3c3c3c;
  }
  .radius-10
  {
	border-radius: 10px !important;
  }
  .float_container .card-body h2
  {
	  color: #b404f2;
	font-weight: bolder;
	font-size: 22px;
	transform: translateY(25px);
	margin-bottom: 50px;
  }
  
  .float_container .card-body p
  {
	  color: white;
	  font-size: 17px;
	  padding-bottom: 8px;
  }
  .float_container .edt_icon
  {
	  position: absolute;
	  top: 15px;
	  right: 15px;
	  width: 25px;
  }

  sup.sup-white
  {
	  color: white;
	  font-family: Avenir-Book;
	  font-weight: normal;
	  top: -1.2em;
  }
  .translatee
  {
	  transform: translateY(-10px);
  }
  .w-95
  {
	  max-width: 95% !important;
  }
  .card-columns
  {
	  column-count: 4;
  }
  .add_intrst
  {
	  border-top: 1px solid #b404f2;
  }
  .add_intrst p a, .add_intrst p
  {
	  text-decoration: none;
	  color: white;
	  font-size: 15px !important;
  }
  .add_intrst p a span
  {
	  color: #bd00ff;
	  font-size: 30px;
	  transform: translateY(3px);
	  display: inline-block;
  }
  .gray_text
      {
      	color: #767676;
      	font-family: "Avenir-Medium" !important; 
      }
      input.input-field-trans
      {
      	background-color: transparent;
      	color: white;
      	font-size: 20px;
      	border: none;
      	font-family: "Avenir-Book";
      	width: 100%;
      }
      #interest_to_fitness .switch
      {
      	    height: 20px;
      	    width: 32px;
      }
      #interest_to_fitness .slider:before
      {
      	height: 14px;
    	width: 14px;
    	left: 4px;
    	bottom: 3px;
      }
      #interest_to_fitness input:checked + .slider:before
      {
      	-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
      }
      #interest_to_fitness .slider
      {
      	background-color: #4c4c4c;
      	box-shadow: none;
      }
     #interest_to_fitness input:checked + .slider {
	  background-color: #fff;
	}
 
  .container-fluid1
  {
	position: fixed;
	height: 100%;
	overflow-y: auto;
	display: none;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
  }
  .container-fluid1 .video_img .one
  {
	height: 200px;

  }
  /* .container-fluid1 .video_img .one
  {
	  flex-basis: 50% !important;
  } */
  .container-fluid1 .video_img .custom-file-label
  {
    height: 170px;
	border: none;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  /* .container-fluid1 .custom-file-label
  {
	top: 0;
  } */
  .container-fluid1 .video_img .input-field
  {
	height: auto;
  }
  .container-fluid1 .browse_image1 {
  width: 100%;
  margin-top: 10px;
  height: 155px;
  }
  .v-image-tag
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    left: -35px;
    border-radius: 10px;
    z-index: 99;
    width: 140px;
    
}
.v-image-tag2
{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    border-radius: 10px;
    z-index: 99;
    width: 30%;
    
}
.v-image-tag1
{
  position: absolute;
    top: 50%;
	transform: translateY(-50%);
    left: 30px;
    border-radius: 10px;
    z-index: 99;
    width: 30%;
    
}
.container-fluid1 .outer-container.browse_text
{
left: 43%;
right: 0;
top: 65px;
}
.line_custom-purple
{
height: 1px;
background-color: #bd00ff;
}
  
.gray-box-5 .cover-border
{
background-color: #363636;
height: 2px;
}
.container-fluid1 .video_img .bg-circle
{
right: -10px;
top: 53%;
transform: translateY(-53%);
z-index: 999;
color: white;
}
.text_dark_gray1
{
  color: #838383 !important;
}
.font-book
{
font-family: Avenir-Book !important;
}

.font-medium
{
font-family: Avenir-Medium !important;
}
.input-fld-outer .form-group
{
width: 339px;
margin-right: 40px;
}
.input-fld-outer .form-group .span1
{
position: absolute;
right: 30px;
top: 20px;
color: #b7b0ba;
}
.input-fld-outer .input-field
{
height: 66px;

}
.outer-container1 .input-field, .outer-container1 .video_img .custom-file-label
{
background-color: #47344e;
}
.outer-container .bg-circle
{
width: 24px;
height: 24px;
font-size: 12px;
}
.input-fld-outer .bg-circle.position-absolute
{

top: 20px;
right: -12px;
}
.w-300
{
width: 378px;
}
.w-100 .brimg{
	position: absolute;
    top: 50%;
	transform: translateY(-50%);
    left: 25px;
    border-radius: 10px;
    z-index: 99;
    width: 110px;
}  
.container-fluid1 .custom-file-label
{
  background-color: #070707 !important;
  top: 15px;
    border-radius: 10px;

}
.container-fluid1 .col-md-8 .custom-file-label
{
	background-color: #34213b !important;
}
/* Responsive Code */

@media(max-width: 900px)
{
	.textt p
{
	font-size: 15px;
}
}
@media(max-width: 768px)
{
	.tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .tab-sec .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
	margin: 7px 0px;
	font-size: 17px;
}
.content-container h2
{
	font-size: 35px;
	line-height: 50px;
}
.cal_modal .modal-dialog .modal-content:nth-child(3)
{
	max-width: 529px;
	margin: auto;
}
.input-box ::placeholder, .input-box :-ms-input-placeholder
{
	font-size: 1.6vw !important;
	color: white !important;
}

}
@media(max-width: 1166px)
{
	.input-box ::placeholder
{
	font-size: 1.1vw !important;
	color: white !important;
}
 .datepick input
	{
		font-size: 25px;
	}
	/* .c_icon
	{
		padding-left: 15px;
	} */
	.input_field_container .col-xl-7:before
	{
		display: none;
	}
	.hdr .input_field_container .col-xl-4:before
	{
		display: none;
	}
}
@media only screen and (max-width: 552px) {
  .cont .nav
  {
  	display: block;
  }
  .first-col h3 span, .first-col h3
  {
  	font-size: 35px;
  }
  .slider_sec .carousel-caption h3
  {
  	font-size: 17px;
  }
   .slider_sec .carousel-caption
   {
   	padding: 0;
   }
    .slider_sec .carousel-caption p
    {
    	font-size: 12px;
    	line-height: 12px;
    }
    .learn_more
    {
    	padding: 5px;
    }
    .browse_text
    {
    	right: 20%;
    }

  }
  @media only screen and (max-width: 400px) {
  
  	.first-col h3 span, .first-col h3
	  {
	  	font-size: 20px;
	  }
	  .input-box .input-group-text i
	  {
	  	font-size: 12px;
	  }
	  .input-box .input-group-text
	  {
	  	padding:10px;
	  }
	  .second-col i, .third-col i
	  {
	  	font-size: 23px;
	  	padding:5px 5px;
	  }
	  .first-col h3 span:after
	  {
	  	font-size: 14px;
	  }
	  .textt
	  {
	  	padding-left: 6px;
	  	right: 60px;

	  }

	  .input-box input.form-control
	  {
	  	height: 50px;
	  }
	  .btn-outline-secondary
	  	{
	  		margin-top: 15px;
	  	}

  }
  @media only screen and (min-width: 900px) {
  	.textt p {
    transform: translateY(-4px);
}
  }
   /* nagendra kumar */
   .react-time-picker__wrapper {
    display: flex;
    border: 2px solid #b002ed !important;
    width: 175px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 19px;
    border-radius: 0px 10px 10px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #bd00ff52;
}
.react-time-picker__inputGroup__input{
	color: azure;
	padding: 0 8px !important;
}
.react-time-picker__inputGroup__input,option{
	background-color: #34213b;
}
.react-time-picker__button:enabled .react-time-picker__button__icon, .react-time-picker__button:enabled:focus .react-time-picker__button__icon{
	stroke: #bd00ff !important;
	outline: none;
}
.react-time-picker__inputGroup__amPm{
	outline: none;
}
.react-time-picker__button:enabled{
	display: none;
}
/* react claender */
/* .rlc-day:active{
	background-color: #bd00ff;
    color: white;
    border-radius: 50%;
} */

/* slider element */
.slide-ele{
    width: 100%;
	display: block;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.slick-slide img{
	width: 100%;
	border-radius: 10px;
}
.slide-ele p{
	color: #fff;
	text-align: center;
}
.rlc-day-selected{
	background-color: #bd00ff;
}
/* end */
/* datepicker css */
.react-datepicker-wrapper{
	
    float: right;
}
.react-datepicker__input-container, input {
    background-color: #2a2a2a;
    border: #2a2a2a;
    color: whitesmoke;
    font-size: 23px;	
    width: 100%;
    position: relative;
}
.react-datepicker{
	background-color: #424141 !important;
	border: 1px solid #424141 !important;
}
.react-datepicker__day-names, .react-datepicker__week {
    white-space: nowrap;
    background-color: #424141 !important;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    color: #fff !important;
	background-color: #bd00ff !important;
	font-size: 1.08rem !important;
	    padding-bottom: 10px !important;
}
.react-datepicker__navigation{
	top: 15px !important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
   
    color: #ffffff !important;
}
.react-datepicker__day-name:hover, .react-datepicker__day:hover, .react-datepicker__time-name:hover {
   
    color: #000000 !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: #bd00ff !important;
}
.react-datepicker__header {
    background-color: #bd00ff !important;
}

/* end raect datepicker css */
 /*react calender  in wine-demo*/
.react-calendar {
    width: 100% !important;
    max-width: 100%;
    background: #343434 !important;
	border-top: 1px solid #414141 !important;
	border-bottom: 1px solid #414141 !important;
	border-left: 0px solid #a0a096 !important;
	border-right: 0px solid #a0a096 !important;
	color: white;
	line-height: 3.11em !important;
}
.react-calendar__navigation button[disabled] {
	background-color: #343434 !important;
}
.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: #343434 !important;
}
/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    color: #ffffff !important;
} */
.react-calendar__navigation__label{
	color: aliceblue !important;
}
.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background-color: #5d067c !important;
}
.react-calendar__tile:disabled {
    background-color: #343434 !important;
}
.react-calendar__navigation__next2-button{
	display: none !important;
}
.react-calendar__navigation__prev2-button{
	display: none !important;
}
.react-calendar__tile--active{
	background: #5d067c !important;
}
.react-calendar__tile--hasActive{
	background: #5d067c !important;
}



abbr[data-original-title], abbr[title] {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    cursor: default !important;
    
}
/* fitness creation */
.input-field2 {
    /* border-radius: 0px 15px 15px 15px; */
    background: #34213b;
    color: #fff;
    border: 2px solid #b002ed;
    height: 44px;
    width: 100%;
    margin-bottom: 22px;
    padding-left: 18px;
    font-size: 18px;
    position: relative;
}
.copy_link.btn-primary {
    display: table;
    border-radius: 40px;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Avenir-Medium;
    font-weight: 600;
    background: #570078 !important;
	border-color: #570078 !important;
	color: #ffffff !important;
}
.submit_congrat{
	font-size: 16px !important;
    color: #d6d4d4 !important;
}
.mb-20{
	margin-bottom: 20px;
}
.fitness_save{
	margin: 0 auto;
    margin-bottom: 20px;
}
.fitness_save> button{
	border-radius: 20px !important;
   }